<div class="about-section">
    <h1>About Us</h1>
    <p>New Life Hospitals</p>
    <p>Multi-Speciality Hospital•560 Beds•237 Doctors</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/doctor3.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Manish</h2>
          <p class="title">CEO & Founder</p>
          <p>Dr.Manish is a cardiologist by profession and has played a significant role in advancing the standards of healthcare in India. He has been recognized for his contributions to the medical field and has received numerous awards and honors.</p>
          <p>manishnewlifehospitals.in</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/doctor.png" alt="Mike" style="width:100%" height="340px" >
        <div class="container">
          <h2>Harshini</h2>
          <p class="title">Director</p>
          <p>Specialist in  diagnosis and treatment of disorders related to the nervous system. This includes the brain, spinal cord, nerves, and muscles.</p>
          <p>harishnewlifehospitals.in</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/doctor2.png" alt="John" style="width:100%" height="340px">
        <div class="container">
          <h2>Rakesh</h2>
          <p class="title">CFO & Director</p>
          <p>specialist in diagnosing and treating kidney-related conditions, including chronic and acute kidney diseases, hypertension, and electrolyte imbalances. </p>
          <p>rakeshnewlifehospitals.in</p>
        </div>
      </div>
    </div>
  </div>