<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="/assets/logo.png"
                      style="width: 150px; height: 100px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">We are The New Life Hospital Team</h4>
                  </div>
  
                  <h2>Registration Page</h2>
                  <form (ngSubmit)="userSignupData()">
                    <p>Please Signup here</p>
  
                    <div class="form-outline mb-4">
                      <input type="email"  id="email" name="email" class="form-control" [(ngModel)]="user.email"
                        placeholder="Phone number or email address" />
                      <label class="form-label" for="form2Example11">Email</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password"  id="Password" name="Password" class="form-control" [(ngModel)]="user.password">
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password"  id="ConfirmPassword" name="ConfirmPassword" class="form-control" [(ngModel)]="user.confirmPassword">
                      <label class="form-label" for="form2Example22">Confirm Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" >Sign Up</button>
                      
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Already have an account?</p>
                      <a class="nav-item nav-link active" routerLink="/login"><button type="button" class="btn btn-outline-danger">Login</button></a>
                
                    </div>
  
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0"> We are a community of innovators, dreamers, and change-makers united by a shared vision. Our commitment extends beyond profit margins, reaching into the very fabric of our values. We strive to create not only exceptional products/services but a positive impact on the lives of our employees, customers, and the global community. With a focus on sustainability, inclusivity, and continual growth, we aim to be a force for good. Our journey goes beyond business milestones</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

